[2015-03-10 15:13] jonathanj opened #1 "Tree node children are not correctly computed"
Something something broken `addChild` code.

[2015-03-10 15:15] jonathanj opened #2 "Exception tasks are not handled at all"

[2015-03-10 15:26] #2 closed

[2015-03-10 15:26] #1 closed

[2015-03-13 15:18] jonathanj opened #5 "Render `dict` values as sub-trees"

[2015-03-30 15:01] itamarst opened #7 "Regular messages aren't supported"
E.g. try piping in:

[code]

and you'll get an error. Here's a fix:

[code]

[2015-04-07 13:08] jonathanj commented on #7
Thank you!

[2015-04-07 13:08] #7 closed

[2015-05-22 09:10] tomprince opened #10 "eliot sometimes logs messages without `timestamp` or `task_uuid`."
- `eliot:destination_failure` doesn't have either (https://github.com/ClusterHQ/eliot/issues/165)
- Messages with out a top-level action don't have a `task_uuid`.

[2015-05-22 11:35] jonathanj commented on #10
Hmm. @tomprince What would you suggest doing about missing `task_uuid`s?

[2015-05-22 15:11] tomprince commented on #10
I'm not sure, which is why this is an issue, not an PR. :grinning:

[2015-05-27 13:02] lukemarsden opened #11 "Support tailing logs"
It would be really nice if this could incrementally render tailed logs.

[2015-05-27 13:04] wallrj opened #12 "Add an option to print full failure messages"
In this example, the interesting error is

[code]

But Eliot tree doesn't show it.

[code]

It'd be nice if it had an option to show full un-elipsized (is that the term) message field contents.
Something like `journalctl` s `--full` option, maybe?

Or have a way to show `twisted:log@5/None` in full?

[2015-05-27 17:33] mithrandi commented on #11
Incremental rendering is kinda tricky because you have to go back to put messages into older task trees; you'd either need a different rendering format, or the ability to redraw the entire display.

[2015-05-27 17:34] jonathanj commented on #11
I had thought about this but ran into a (quite a large) snag: Since the output is just a bunch of lines written to a terminal (as opposed to a web UI or a curses UI), how do you know when to output something?

In other words, at what point do you know that a top-level task has no more actions or messages that have yet to appear? One could emit the complete tree for a task when a new sub-task for t

[2015-05-27 17:35] jonathanj commented on #11
@lukemarsden If you have an idea for an alternate mode of operation that is suitable for some kind of incremental mode, I'd really appreciate the insight!

[2015-05-27 18:03] jonathanj commented on #12
@wallrj Can you give the code referenced by PR a go with the `--no-truncate` option and perhaps comment on it with your findings?

[2015-05-27 18:29] mithrandi commented on #10
If task_uuid is missing, just always render it as a top-level item, perhaps? (for example, you could generate a random task_uuid if one is not present, but there may be a more straightforward way)

[2015-06-01 19:33] #5 closed

[2015-06-01 19:36] jonathanj opened #14 "Allow selecting top-level trees by some kind of query"
`grep` can't really help narrow down the output of eliottree in a useful way, what needs to happen is eliottree should prune the output according to some kind of query. <http://jmespath.org/> might be quite useful for achieving this.

[2015-06-02 09:39] jerith commented on #11
You could treat a task as "complete" when every action start (including the top-level action in the task) has a matching action end (success or failure) or if some (configurable) amount of time has passed since the last message in the task.

That said, I'm not sure how useful this would be in practice. If I'm tailing logs, I'm generally more interested in what's happening now than what tasks have

[2015-06-02 10:25] jerith opened #16 "Factor out core functionality into a library"
Currently, eliottree is a single script that does a bunch of stuff. If the core functionality were factored out into a library that the script used, it would be more maintainable (and testable!) and allow other tools to more easily build on top of eliottree.

[2015-06-03 16:15] #14 closed

[2015-06-03 16:18] jonathanj commented on #12
Closed by c75c1c293b9556c50b7a727aab15c0f386c0e30d.

[2015-06-03 16:18] #12 closed

[2015-06-09 13:38] #16 closed

[2015-06-15 13:15] jml opened #19 "Prettier tree output"
Over the weekend, I hacked together jml/tree-format, which renders Python trees in the format of the Unix `tree` command, e.g.

[code]

Would you be interested in a patch that adds this mode of output to eliottree?

[2015-06-16 19:21] jonathanj commented on #19
@jml these look great! Are these the Unicode or extended ASCII characters, are they supported on all terminal types? I'm happy to accept a change improving the tree characters provided that they are going to look right in all circumstances (or fall back to ASCII in cases where they need to.)

[2015-06-17 07:25] jml commented on #19
They are unicode. They might also be extended ASCII. I basically just
copied from the output of `tree`. I guess I could poke around.

(Another option might be to just accept the patch and let users let us know
if they don't work?)

On Tue, 16 Jun 2015 at 20:21 Jonathan Jacobs <notifications@github.com>
wrote:

[2015-08-04 21:05] itamarst opened #21 "Tree structure isn't always correct"
Consider the following example:

[code]

Notice that `download@2,1` and friends  are child actions of `check_links@1`, but that is not reflected in the structure.

[2015-08-05 07:50] jonathanj commented on #21
The tree building code here is pretty ropey and definitely has some problems. Can you post the raw Eliot data this tree was generated from?

[2015-08-05 08:49] jonathanj commented on #21
Hrm, from the new `task_level` docs:

Doesn't this mean that `download@2,1` is the 1st child of the 2nd child of the task, and since there is no `something@2`, that means it becomes a child of the task? If I understand correctly, in order for `download@2,1` to be a child action of `check_links@1` it would have to be named `download@1,x`.

[2015-08-05 11:17] itamarst commented on #21
Well, notice how `@download3/2` is a child of `@download/3/1`? The messages for the former are probably `[3, 2, 1]` and `[3, 2, 2]`.

The problem with the current numbering system is that it's a bit tricksy. `[1]` is the *start* message of the top-level action. `[2]` is a child message of top-level action; `[2, 1]` is the start message of a child action of top-level action.

That prose description

[2015-08-05 11:17] itamarst commented on #21
[code]

[2015-08-05 11:20] itamarst commented on #21
The bug AFAICT is that top-level action gets tree structure wrong; all other actions seem fine. That is, top-level action in task doesn't realize all but first (action start) and last (action end) messages are children. I'll try to write minimal reproducer later today.

[2015-08-05 11:21] itamarst commented on #21
My use case BTW is quickstart example for Eliot docs.

[2015-08-05 12:29] jonathanj commented on #21
The task level in the tree is just the `task_level` key joined on commas. If `[1]` is a child of the top-level action and `[2]` is a sibling to `[1]` what is `[2,1]` when `[2]` is not present? The effective assumption eliottree makes here is that `[2,1]` becomes `[2]` not `[1,1]`.

It's a bit awkward to construct a tree given that the start and end messages are weird special cases that cannot be d

[2015-08-05 13:18] itamarst commented on #21
Reproducer:
[code]

Output:
[code]

[2015-08-05 13:19] itamarst commented on #21
Notice in above that if you shifted the two root_action messages to the left the structure would be correct.

[2015-08-05 13:21] itamarst commented on #21
Serializing a task doesn't change where start and end messages happen; the remote messages in the second process are children. The way to detect start and end of action:

1. Start message is always number 1. So e.g. [1], [2, 1], [52, 353, 353, 1] are all start messages.
2. End message has action_type that matches message number 1 of that level. End messages that match the above might be [5], [2, 2

[2015-08-05 13:38] itamarst commented on #21
If you have any ideas on how to improve the tree structure encoding that'd be cool too.

[2015-08-06 07:06] jonathanj commented on #21
The logical way to describe the tree structure would surely be by `task_level` alone, which is what the [docstring of `TaskLevel.level`](https://github.com/ClusterHQ/eliot/blob/master/eliot/_action.py#L75) leads me to believe is the case, but apparently not?

To make sure my understanding of your earlier description is correct, my interpretation is:
 * `child_message@2` and `child_action@3,1` are

[2015-08-06 11:22] itamarst commented on #21
Hm. I think with that scheme you still can't differentiate between two unrelated messages and the start & finish messages of a childless action merely from the task level. On the other hand it does seem like you can figure out the *tree* structure just from task_level, so that is an improvement. Let me think about it a bit more.

[2015-08-06 11:25] itamarst commented on #21
Oh, I notice BTW in your hypothetical output that success is rendered differently in root tree and child trees.

Random thought: 0 is always used for start message, MAXINT for action finish message?

[2015-08-06 13:00] jonathanj commented on #21
@itamarst The rendering is simply matching what you suggested in your earlier comment: https://github.com/jonathanj/eliottree/issues/21#issuecomment-127994980

I think it's odd that in some cases success is a child (ala `[3,2]`) and some cases not (ala `[4]`).

[2015-08-06 15:58] itamarst commented on #21
I feel like there's some miscommunication here...

[2015-08-06 15:59] itamarst commented on #21
Ah, no, my fault, I hadn't noticed that typically eliot-tree visually renders end messages as children of start messages (even though that's not actual structure in eliot itself).

[2015-08-08 12:16] #21 closed

[2015-08-08 18:53] itamarst opened #25 "Rendering problems with updated tree code"
The new code apparently always assumes message 1 is the parent... but sometimes it isn't. In particular in the root of the action tree it might be a standalone message.

[code]

[2015-08-09 10:44] itamarst commented on #25
https://github.com/ClusterHQ/eliot/pull/198 is a solution on the Eliot side.

[2015-08-09 20:29] #25 closed

[2015-08-20 14:00] mithrandi opened #26 "All tasks are displayed if jmespath query matches nothing"
The expected behaviour is, of course, that no tasks are displayed.

I believe the cause of this issue is that `merge_tasks` returns `None` if nothing matched; this value is then passed to `nodes` which interprets `None` as "all tasks". I think the fix is just to return `[]` instead of `None`.

[2015-08-23 06:28] #26 closed

[2015-09-04 18:52] myechuri opened #28 "Eliot-tree fails to parse log that does not have task_level of 1"
In long running (> 1 hour) Flocker compute nodes, Eliot logs rotate, resulting in latest logs not having task_level of 1: https://clusterhq.atlassian.net/browse/FLOC-2943

[code]
Would be useful to have eliot-tree help debug Flocker issues using production logs. Thanks a lot for any help fixing this issue!

[2015-09-10 07:38] jonathanj commented on #28
@myechuri I noticed this issue in real-world Eliot logs myself a while after publishing the change. It seems like in real-world scenarios it is not uncommon for the start task to mysteriously not exist. I'm not sure why this would actually happen, perhaps neglecting to finish an action?

Anyway, eliottree should definitely be more resilient.

[2015-09-10 11:35] jonathanj commented on #28
@myechuri I've created PR #29 for this, would you mind giving it a try to see if it resolves your problem?

[2015-09-11 05:13] myechuri commented on #28
@jonathanj : thanks a lot for taking a look at the issue!

It would happen if logs rotated and start task appeared in log-timestamp1 and end task appeared in log-timestamp2? Also, for long running tasks (main loop of a daemon, for example), we would never see the end task corresponding to the start of the loop?

Thank you! Will try it out and keep you posted by weekend.

[2015-09-11 07:02] jonathanj commented on #28
Ah yes, log rotation is the obvious one, of course!
On Fri, 11 Sep 2015 at 07:13 myechuri <notifications@github.com> wrote:

[2015-09-11 21:54] myechuri commented on #28
With PR 29, ran eliot-tree on a set of log files from one Flocker process (flocker-dataset-agent):

1) First log file flocker-dataset-agent.log rendered fine:

[code]

2) Second log file flocker-dataset-agent.log.1 segfaulted:

[code]

3) Third log file flocker-dataset-agent.log.2 segfaulted as well:

[code]

Looking into cause of segfault - will update shortly.

[2015-09-11 22:18] myechuri commented on #28
Traceback for segfault:

[code]

Btw, can i please be granted access to contribute? Added ``faulthandler`` to get this traceback. Happy to check it in:

In ``tree.py``:
[code]

[2015-09-11 22:21] myechuri commented on #28
Segfault is coming from https://github.com/jonathanj/eliottree/blob/master/eliottree/tree.py#L77

[code]

Wondering if levels are too deep for ``list``.

[2015-09-11 22:47] myechuri commented on #28
A second run on the same log file (``flocker-dataset-agent.log.1``) threw segfault from a different location:

[code]

``/usr/lib/python2.7/collections.py:52`` is

[code]
for ``class OrderedDict(dict):`` from https://github.com/jonathanj/eliottree/blob/28-resilient-missing-tasks/eliottree/tree.py#L173

[2015-09-11 23:38] myechuri commented on #28
Uploaded Flocker logs (that ran into above segfaults) to https://drive.google.com/folderview?id=0ByymF9bLBknGcjFUQnkwYjVLeVk&usp=sharing

[2015-09-12 09:23] jonathanj commented on #28
I am able to run `eliot-tree` on `flocker-dataset-agent.log.1` without issue:

[code]

It took quite a while to build the tree before displaying the output, intuition tells me this is more of a memory issue than anything. Building the tree for a 100MB Eliot log results in usage of at least 1GB for the tree structure and decoded JSON. Every line of the log has to be deserialized and held in memory

[2015-09-14 18:22] myechuri commented on #28
As part of triaging, i increased stack size from default of 8MB to 16MB, did not notice a difference, hence, rejected the hypothesis.

Thanks for sharing! This is a huge limitation on post-processing Flocker production logs in-situ.

Thanks for sharing the reason!

i attempted a push hoping to submit a PR, but push failed, hence reached out to you.

[code]

Thanks!

[2015-09-14 20:15] myechuri commented on #28
I am able to run eliot-tree on flocker-dataset-agent.log.1 without issue

@jonathanj : can you please share the stack size you used? Thanks a lot!

[2015-09-16 08:37] jonathanj commented on #28
@myechuri I'm not sure how to get that information. Does this help?

[code]

[2015-09-16 08:40] jonathanj commented on #28
@myechuri I think you'll find the information you need to know about creating PRs in the Github help: https://help.github.com/articles/using-pull-requests/

The brief—but important—highlights are: You fork the repo (so that you have a copy you have permission to write to), make the changes and submit a pull request to merge your changes back into the original.

[2015-09-29 10:58] #28 closed

[2015-09-29 19:09] jonathanj opened #31 "Timestamp parsing and display handles timezones incorrectly"
Currently the parsing code parses the timestamp as a local time and the display code displays it as though the data was in UTC.

[2015-09-29 19:30] jonathanj opened #33 "Release 15.3.0"

[2015-09-30 08:13] #31 closed

[2015-09-30 08:43] #33 closed

[2015-09-30 21:35] zloidemon opened #35 "Error running eliot-tree on Python 3"
Versions:

eliot (0.8.0)
eliot-tree (15.3.0)

Python 3.4.3 (v3.4.3:9b73f1c3e601, Feb 23 2015, 02:52:03)
[GCC 4.2.1 (Apple Inc. build 5666) (dot 3)] on darwin

[code]
[code]

[2015-10-01 10:02] jonathanj commented on #35
This is actually a Python 3 issue since they removed the tuple destructuring syntax in function signatures. I renamed the issue to better indicate this.

[2015-10-20 18:28] tomprince opened #37 "Include some examples of ``--select``."
It isn't clear how to write useful queries for `--select``, just from looking at the linked documentation.

[2015-10-22 14:20] jonathanj commented on #37
@tomprince Can you give an example of something you were trying to use `--select` to achieve? I could include some examples of how I've used it but I have no idea if it is useful to anyone else, a better idea of what others are trying to find would help.

[2015-10-29 15:59] exarkun commented on #37
I wanted to select a date range using select.  With idnar's help I got as far as this:

[code]

The need to use another tool to convert from the formatted timestamps I'm starting with is a bit annoying.  It would be cool if I could just give them to Eliot as-is and let it sort out that they're timestamps.

The extra backticks required were kind of annoying too, but I guess that's just how jmespath

[2015-10-29 16:08] exarkun opened #38 "Give me a way to select a time range of log messages"
I have a big chunk of eliot logs.  I have another log file with timestamps in it like "2015-10-29 12:45:16+0000" that identify interesting time ranges.  I'd like to use eliot-tree (among other tools, perhaps) to examine the eliot logs specifically from those time ranges.

Something like:

[code]

would be pretty great.

Something using the `--select` feature may well do the job too (though it's pr

[2015-10-29 16:38] jonathanj opened #39 "Human-readable values should only be formatted when rendered instead of modifying the tree data"
The problem with modifying the tree data is that it makes it very difficult to write queries against it if eliot-tree is changing it in undisclosed ways to suit it's renderer.

[2015-10-29 16:39] jonathanj commented on #38
Eliot tree transforms the tree while parsing it to support the human-readable features, `--raw` disables this, so  `--raw --select 'timestamp > ``...``'` should work.

Unfortunately this means that you don't get any human-readable output. I filed #39 to address this.

[2015-10-30 07:22] #35 closed

[2015-10-30 07:45] jonathanj commented on #38
I'm going to reopen this because i think `--start ISO8601_timestamp` is a lot better than the corresponding `--select` incantation.

[2015-10-30 07:48] #39 closed

[2015-11-02 06:44] #38 closed

[2015-11-17 14:15] exarkun commented on #11
Here's an idea for a somewhat (but not entirely) different output format that I think would work well for this feature.  I don't think it will work very well in a terminal but I think it could work using some other interface.  Imagine something that supports a bunch of tabs, for example.

Render trees as they are constructed.  As they are updated, update the display.

Make all trees available for

[2015-11-17 14:18] exarkun opened #42 "Parse errors lack sufficient context to track down the problem log/data"
When eliot-tree encounters a parse error of some kind (perhaps the json is malformed, perhaps the structure of the encoded object violates some assumption, etc) eliot-tree mostly just tosses up an unhandled exception to the user.  The exception may give some general idea about what went wrong (eg KeyError for timestamp - not bad - or some more obscure error from the json parser) but it doesn't see

[2015-11-18 08:15] jonathanj commented on #11
Thanks for making that comment, it's a great outline for a more capable tool than eliottree. On my list of projects I want to one day (in the near future) get around to, I'd like to write something much like what you've explained here as some kind of graphical application. Something I hadn't really thought about was the idea of "workflows", these are a fantastic idea.

[2015-11-18 08:26] jonathanj commented on #11
To summarise some conversations that have been had about this topic via other mediums:

As far as eliottree currently stands, the output medium is append-only (writing lines to stdout) which only really lends itself to emitting an entire tree again if any part of it changed. It's also possible to implement something with a UI library like `ncurses` but ultimately both of these ideas are a nontrivi

[2016-03-05 03:52] mithrandi commented on #19
It would be nice to colourize the output too (eg. green for "succeeded" actions, red for failures).

[2016-03-05 08:59] jonathanj commented on #19
@mithrandi Any idea how to do that? Can I do that and still use @jml's `tree-format` library?

[2016-07-26 12:44] mithrandi opened #43 "Failure trying to parse a task tree with missing messages"
This often happens because of log rotation; an operation that straddles midnight will have the start action go into the previous day's log, but the end action into the next day's log.

The traceback looks like this:

[code]

I didn't construct a minimal reproduction yet, but @jonathanj has access to the data that I used; if someone else wants to look into this, just yell at me, and I'll come up wi

[2017-02-06 23:05] exarkun opened #44 "Protect me against terminal hacking"
Sometimes when I use eliottree to dump a tree to stdout, something like this happens:

[code]

Now my terminal is unusable and the latter portion of the tree report has all been corrupted and is garbage.

eliottree should take care in formatting output so as not to provoke this behavior from terminals.

[2017-02-08 18:21] #44 closed

[2017-02-10 14:00] jonathanj opened #46 "Unicode interface for `write` breaks backwards compatibility"
15.3.0 requires a `write` that takes bytes, master currently requires a requires a write that takes Unicode.

[2017-02-10 18:38] #46 closed

[2017-02-15 15:23] #19 closed

[2017-02-15 20:32] markrwilliams opened #49 "Messages without a message_type appear as unnamed tasks"
`Message`s without a `message_type` appear as `<UNNAMED TASK>`s.

So the following code:
[code]

Produces the following output:

[code]

The message appears as an `<UNNAMED TASK>`.  Providing a `message_type` field results in the message appearing as a message.  This should be fixed or at least documented.

[2017-02-16 11:12] mithrandi commented on #43
Apparently my original diagnosis of the problem was completely wrong. Here's an example that reproduces this traceback (produced from a real example by removing unimportant fields and censoring the action types slightly):
[code]
I think the problem has to do with the duplicate messages at `/2/3` and `/3/1`, which strongly suggest a bug in the original code that is outputting these.

[2017-02-16 16:25] jonathanj opened #52 "Use Eliot's builtin parser"
This would fix #43 and reduce the amount of code and complexity in eliottree.

[2017-02-18 08:42] #42 closed

[2017-02-18 19:28] #43 closed

[2017-02-18 19:28] #49 closed

[2017-02-18 19:28] #52 closed

[2017-02-18 19:41] jonathanj opened #54 "Color action start messages the same way the end messages are colored"
It makes it a bit easier to identify the beginning and end of a failure/success.

[2017-02-18 19:47] #54 closed

[2017-02-18 20:49] jonathanj opened #56 "Use towncrier."
It's good stuff: https://pypi.python.org/pypi/towncrier

[2017-02-18 22:29] #56 closed

[2017-03-29 13:23] #11 closed

[2017-09-01 12:20] jonathanj opened #60 "`iso8601.iso8601.Utc` is not reliably available"
Version 0.1.12 doesn't expose this for Python 3.2.0 and newer, it looks like this is not really a public export anyway and we ought to be using `UTC` which is an instance of a UTC tzinfo implementation.

[2017-09-01 13:54] #60 closed

[2017-11-04 02:51] epmoyer opened #63 "Tasks reported out of order if some events are deleted / missing"
Jonathan,

Fantastic tool! I have been making great use of it!

I have an application which logs debug events when a debug option is enabled.  I've been experimenting with the idea of always logging the debug information, and filtering the debug events out of the log when I don't want/need to see them.  I found that if I delete an event it can cause eliot-tree to render the associated task out of

[2017-11-05 07:53] jonathanj commented on #63
Thanks, Eric! I'm glad to hear it's been useful to you.

So your reasoning is mostly correct.  It's Eliot's builtin parser and it's waiting for the next event in the level to occur sequentially, which won't happen because it doesn't exist in the data.

The good news is that eliottree has a way to filter events via the `--select` argument, which takes a [JMESPath](http://jmespath.org/) expression t

[2017-11-05 09:00] pauloyster opened #64 "pip install fails on python 3"
[code]

[2017-11-05 12:48] jonathanj commented on #64
My suspicion is that this is more of a Windows issue than a Python 3 issue (there are python 3 CI builds but they're for Linux.) Also this appears to be an issue installing `tree-format` which is a dependency and it's likely that the Unicode tree characters in the readme are causing this, which probably affects eliottree in the same way. I'll take a look at improving this.

[2017-11-05 13:20] jonathanj commented on #64
@pauloyster I can't reproduce this on a US English build of Windows 10, what version of Windows are you using and what language?

[2017-11-05 14:45] pauloyster commented on #64
@jonathanj indeed windows. indeed a tree-format issue (sorry for the confusion).
Windows version is 10.0.16299.19.
Python 3.6.2 :: Anaconda custom (64-bit).

[2017-11-05 14:51] pauloyster commented on #64
@jonathanj I think the fix (for both 2 and 3) should be using os.open(filename, encoding='utf-8) during setup (instead of the naiive open(filename)).

[2017-11-05 16:32] jonathanj commented on #64
@pauloyster Could you try checkout my tree-format fork, switch to the `10-readme-encoding-setup` and try `python setup.py install` from the checkout root? Possibly even `python setup.py build` might be good enough to expose the issue (you'll need to double check that on master, I'm not 100% sure.)

Unfortunately I can't reproduce this myself on Windows 10.0.15063.

https://github.com/jonathanj/tre

[2017-11-05 18:40] epmoyer commented on #63
Winner! Thanks!

When I originally read the description of the --select syntax in the README I thought it was an inclusive filter only (I didn't realize I could use "!=" to make an exclusive statement) and I incorrectly thought "--select" could only be used to filter in/out a whole task.  I think that's because the language "If any child task is selected the entire top-level task is selected." mad

[2017-11-05 19:35] pauloyster commented on #64
@jonathanj Yes, this installs tree-format (version 0.1.0) properly on my machine. Thanks!

[2017-11-06 02:40] epmoyer commented on #63
Jonathan,

I've been running some experiments in hopes of writing a filtering cookbook page for the Eliot documentation.

Based on my observations (sample code below) I think the following statements are true.  Can you confirm?

1. Using ``--select`` to filter out events (with a ``!=`` expression) does not guarantee that tasks will be rendered in order.  [ See Case 1 and Case 5 in the example belo

[2017-11-06 07:36] jonathanj commented on #63
Eric, some comprehensive documentation for this feature would be great! In fact #37 has been open for a while. Documentation like this seems like it ought to be in eliottree rather than Eliot, however Eliot has a well structured documentation resource already. I'm not personally too phased about this since I'd appreciate the documentation either way, it might be worth running it past Itamar on the

[2017-11-06 07:43] jonathanj commented on #64
@pauloyster I've released 0.1.2 of tree-format (and published it on PyPI). Since eliottree's dependency is `tree-format>=0.1.1` that should mean new installs will use 0.1.2. I'll bump the dependency for eliottree in master although I don't have immediate plans for a new release.

[2017-11-06 09:35] #64 closed

[2018-01-18 16:16] smontanaro opened #66 "Render without graphics characters or display properly in less(1)"
Maybe his is a help request for less(1), and not a complaint about eliot-tree, but I think it might be handy if either:

- eliot-tree could be coaxed into rendering trees without VT100 graphics characters

or

- mention could be made in the README of how to get less(1) to properly render those characters.

[2018-01-18 16:40] smontanaro commented on #66
Never mind. "less -r" does the trick.

[2018-01-18 16:40] #66 closed

[2018-01-20 09:41] jonathanj commented on #66
Sorry about the delayed reply, @smontanaro! If `--color` is "auto" (the default) then `sys.stdout.isatty()` is consulted to determine whether color should be used. So you can either use `less -r` (or `less -R` which is often a better idea) or you can specify `--color=always` to eliot-tree to force it to output ANSI color codes.

[2018-07-20 17:49] mithrandi opened #67 "Handle exceptions during formatting more gracefully"
Sometimes timestamps are missing / None for example:

[code]

`--raw` will work around this but then you get no formatting for _anything_.

[2018-07-22 16:58] #67 closed

[2018-07-22 17:01] jonathanj opened #69 "Use Versioneer"

[2018-07-22 21:45] #69 closed

[2018-07-29 08:50] jonathanj opened #72 "Render timestamp in a more consistent position"
Currently the timestamp is rendered as a message field, depending on what other fields are present the visual position of this field will move around. An improvement would be to render the timestamp after the status (for an action) or level (for a message).

[2018-07-30 08:10] #72 closed

[2019-01-02 22:42] itamarst opened #75 "Switch to `eliot.parse`, available in Eliot 1.6"
Currently eliot-tree is relying on a private API, `eliot._parse`.

[2019-02-26 12:53] exarkun opened #76 "Following long vertical lines can be visually challenging"
Sometimes it's difficult to follow a particular vertical line from parent to child, particularly when these lines are long or span multiple pages.

Alternating through several high-contrast colors for adjacent vertical lines might help with this.

[2019-04-09 22:07] RoyLarson opened #77 "conda-forge package"
According to the documents on eliot
https://eliot.readthedocs.io/en/stable/quickstart.html

this was on conda-forge at one time, would it be possible to put it back?

Thanks

[2019-04-11 13:02] jonathanj commented on #77
@RoyLarson That looks like a documentation issue in Eliot, eliottree has never been available via conda-forge. I'm happy to accept a recipe for this though.

[2019-04-14 01:11] RoyLarson commented on #77
I will see what I can do.  I have never built a recipe before, so that will be a first

[2019-04-26 00:18] njsmith opened #78 "On my terminal, prints white-on-white text"
On my terminal, eliot-tree output looks like:

![image](https://user-images.githubusercontent.com/609896/56775876-02154780-677e-11e9-98e7-bb233a2cbf1d.png)

I find that UUID somewhat hard to read :-)

[2019-04-26 06:49] jonathanj commented on #78
Hi @njsmith! Do you have a suggestion to improve this?

From my point of view this looks like an issue with your terminal theme, if you have a light background then any light coloured text (from any application) is going to be illegible. If I change it to black, for example, then it’ll be illegible for someone with a dark theme background.

One’s terminal theme should be ensuring that doesn’t happ

[2019-04-26 06:58] njsmith commented on #78
I'm not sure I understand... are you saying that it's a bug to use a light background in terminals, or...?

I just double-checked and the same behavior happens with the default gnome-terminal theme, so presumably this affects more than just me :-).

I believe that some apps handle this by [checking the background color](https://stackoverflow.com/a/7767891/1925449), and picking between two sets of

[2019-04-26 09:47] jonathanj commented on #78
What I said was that if your terminal emulator is set up to render bright white on top of a light background that sounds very much like a configuration issue with your terminal emulator.

I tried `brew`, `htop` and `mtr` with a light background and neither of them made any accommodations for my poorly configured terminal emulator. My terminal emulator has a slider to adjust "Minimum contrast" to a

[2019-08-03 17:18] itamarst opened #79 "Support outputting timestamps in local timezone"
UTC can sometimes be harder to interpret than local time, so would be nice if there was way to output in local timezone as well.

Original issue: https://github.com/itamarst/eliot/issues/428

[2019-08-04 07:41] jonathanj commented on #79
This seems like a reasonable request, probably the least confusing thing is to add an option to use local time. I’ll try get to this in the next week or two.

[2019-08-05 00:52] itamarst commented on #77
I've opened PR for the recipe; might take a few tweaks, but hopefully should have packages in a few days.

For future reference: Conda-Forge automation is really wonderful, creating new packages is quite easy (especially for simple pure-Python packages like this one).

[2019-08-05 00:52] itamarst commented on #77
(And, sorry for the confusion in the docs @RoyLarson ).

[2019-08-07 21:24] itamarst commented on #77
Alright, it's done: https://anaconda.org/conda-forge/eliot-tree

So you can close this issue, @jonathanj.

[2019-09-29 17:43] #77 closed

[2019-12-05 11:05] mozesa opened #80 "Strange format"
Dear **Jonathan**,

I would like to ask for your kind help.

This is the first time that I try to use `eliot` whit `eliot-tree`.

The problem that the result formatted by `eliot-tree` looks very both in `cmd, powershell` and `PyCharm's terminal`.

I use `Windows 10.`

![render](https://user-images.githubusercontent.com/49973426/70229753-15968100-1757-11ea-8f10-a7ac52cf69cf.png)

Thanks for your he

[2019-12-05 11:42] jonathanj commented on #80
Hi @mozesa,

It looks like the shell isn't interpreting the colour codes, presumably these need to be different for cmd and powershell, bash in WSL should work but that might not be very useful to you.

I'm happy to accept a PR that adds colour support for Windows, I haven't looked into doing this myself yet so I have no additional advice.

For now you can disable colours by running eliot-tree wit

[2019-12-05 11:43] #78 closed

[2019-12-05 12:23] mozesa commented on #80
Thanks so much.

It solved the problem.

[2019-12-05 12:23] #80 closed

[2020-01-04 10:51] ghuname opened #81 "Command prompt & python usage"
Hi,

I am using jupyter lab notebook to execute the following:

[code]

Result is 12, and content of eliot_file is:

[code]

From windows 10, command line "eliot-tree eliot.log", situation is as following:

![image](https://user-images.githubusercontent.com/15207713/71764349-17cf3500-2ee7-11ea-8d7f-ffa7939b91ba.png)

The picture above is with command prompt code page 437 (OEM - United States).
I t

[2020-01-05 08:50] jonathanj commented on #81
Hi @ghuname,

Sorry to hear you've having trouble with eliot-tree.

To your first question:

What you're seeing are the VT100 escape codes for color being displayed literally in cmd, which is because cmd doesn't support VT100. This was reported before and there is a resolution in #80: Use `--color never`.

And to your second question:

`render_tasks` accepts an iterable of **parsed** Eliot logs, b

[2020-01-05 10:20] jonathanj opened #82 "Improve Windows Unicode and color rendering"
#80 and #81 are both Windows-related issued with regards to codepage and color output issues, which can be resolved with [win_unicode_console](https://pypi.org/project/win_unicode_console/) and [colorama](https://pypi.org/project/colorama/) respectively.

[2020-01-05 15:12] ghuname commented on #81
Hi,

--color never, helped partially as you can see at the picture bellow:

![image](https://user-images.githubusercontent.com/15207713/71781971-08c6b080-2fd5-11ea-9a04-42af13efdbfc.png)

How to get rid of question mark sign?

This is workable solution:

[code]

that produced:

[code]

This would definitively help some future user.

Thank you very much for helping me.
Best regards.

[2020-01-05 19:57] ghuname commented on #81
I have another question about usage.
1. Is there a way to turn off eliot logging?
2. Is there a log rotate option?

Regards.

[2020-01-06 07:31] jonathanj commented on #81
It is probably a missing glyph in the font you're using for your console, so changing your console font is one option, or just living with it is another option.

These questions should be directed at [Eliot](https://github.com/itamarst/eliot) itself, not eliottree.

[2020-01-06 11:08] #82 closed

[2020-01-06 11:31] #75 closed

[2020-01-06 13:29] #81 closed

[2020-01-06 18:42] #79 closed

[2020-01-10 06:59] jonathanj opened #88 "Ability to customize default behaviour and colors"
Sometimes the default colors don't work out well on certain themes (#78), sometimes a user might want a certain flag to be the default (`--ascii`), etc.

A comprehensive config file is probably the right solution for this.

[2020-01-10 07:01] #76 closed

[2020-01-11 22:55] jonathanj commented on #10
Now that eliottree is using Eliot's builtin parser, parsing issues should be reported there. Incomplete trees will be listed after all the complete trees in the current implementation.

[2020-01-11 22:55] #10 closed

[2020-01-13 19:11] #88 closed

[2020-01-14 08:07] #37 closed

[2020-01-27 08:07] jtrakk commented on #78
Looks like this is fixed by the new themes and color detection.

[2020-01-27 17:17] jonathanj commented on #78
@jtrakk Correct. Some rudimentary checking is done via the `COLORFGBG` environment variable (which some terminals seem to set) to guess whether the terminal is light or dark and switches themes accordingly. This behaviour can be overridden via the `--theme` option, and the colours can be changed entirely with [theme overrides](https://github.com/jonathanj/eliottree#theme-overrides).

[2020-02-27 22:22] zmitchell opened #95 "Unicode error when piping to file"
Hi, I'm trying to pipe the output of `eliot-tree` to a file on Windows 10, but I'm getting the following traceback:
[code]

The file I'm using looks like this:
[code]

I've tried making the encoding process as simple as possible by using the `--ascii` and `--color never` flags, but the issue persists. Am I missing something simple, or is this a bug?

[2020-06-01 15:03] RoyLarson opened #96 "Filtering by end fails on version 18.1.1"
I get an error when I write the below query
[code]
I conda installed it from conda-forge (thank you for putting it there btw).
the eliot-tree version is '18.1.1'

[2020-06-28 11:54] RyuAsuka opened #97 "Argument Error when use eliot tree"
Test code:

[code]

Then use `eliot-tree log.log` it returns an Argument Error.

[code]

[2020-06-28 14:13] jonathanj commented on #97
@RyuAsuka It looks this is an issue with the [colored](https://pypi.org/project/colored/) library that eliot-tree is using. Can you try `eliot-tree --color never log.log` to see if disabling color helps?

[2020-06-28 14:15] jonathanj commented on #97
@RyuAsuka Can you also provide information about what version of Windows and Python you're using? There is a Windows builder in CI that isn't failing (to my knowledge) so there must be something peculiar about your setup.

[2020-06-28 14:40] RyuAsuka commented on #97
@jonathanj
I have tried `eliot-tree --color never log.log` and the exceptions do not appear again.

My OS is Windows 10 1909 v18363.900, Python version is 3.7.7 with anaconda 4.8.3.  I simply use anaconda to install eliot-tree by `conda install -c conda-forge eliot eliot-tree`

[2020-08-20 21:57] RoyLarson opened #98 "Be able to chunk the display of the tree"
I have some logs with really long tasks, that do not allow me to scroll all the way through the history.
I would like to be able to iterate the the log lines some chunk size at a time.
like
[code]

[2020-10-01 12:44] oded282 opened #100 "Error occur when using Eliot-tree from docker container"
Hi, I'm using Eliot-tree and it works very well.
The error occurs when I'm logging into a running docker container, and trying to produce the structured logs with Eliot-tree.
I'm getting the following error:

<img width="951" alt="Screen Shot 2020-10-01 at 15 33 12" src="https://user-images.githubusercontent.com/45912772/94810235-6ec55480-03fc-11eb-9f19-ebd21f22debe.png">

I'm using ubuntu 18.04,

[2020-10-08 07:13] #100 closed

[2021-02-15 11:31] romanstrazanec commented on #95
I also get the similar error running `!eliot-tree out.log` in **jupyter notebook**.

[code]

[2021-02-16 05:28] jonathanj commented on #95
@romanstrazanec The minimum case that reproduces this would be useful.

[2021-02-16 05:36] jonathanj commented on #95
@zmitchell I missed this issue last year when you posted it, sorry about that. If you’re still interested in helping diagnose this, could you provide some information about your operating system and locale? Your input doesn’t look like it contains any Unicode and the options you mentioned should disable all other Unicode output, but there may be some lingering Unicode.

You could also try changing

[2021-02-16 05:38] jonathanj commented on #95
See if any of these suggestions help. https://stackoverflow.com/questions/492483/setting-the-correct-encoding-when-piping-stdout-in-python

[2021-02-17 09:22] romanstrazanec commented on #95
@jonathanj I used the @zmitchell's log file, or it could have been with any file.

The problem was with:
⇒ Rightwards Double Arrow U+21D2
⧖ Hourglass U+29D6

`--ascii` flag did not change those characters to ascii style.

I created pull request.

[2021-02-22 07:36] #95 closed

[2021-02-22 07:55] jonathanj commented on #95
This fix is available in the 21.0.0 release.

[2022-01-08 23:31] meejah opened #104 "encoding error / windows traceback"
I'm not entirely sure what's going on here, but on a GitHub Actions windows runner, I'm seeing this from `eliot-tree`:

[code]

I've attached the [eliot.log](https://github.com/jonathanj/eliottree/files/7834160/eliot.log) from the run (but when using `eliot-tree` on it on a Linux machine, I do not see the above error).